<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Acp_Project.Properties.Settings.ProductsDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\My documents\my projects\4\Acp_Project_Group3\Acp_Project\ProductsDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Acp_Project.Properties.Settings.ProductsDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\My documents\my projects\4\Acp_Project_Group3\Acp_Project\ProductsDB.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Acp_Project.Properties.Settings.ProductsDBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProductsDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>